@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 178.5714285714%;
  color: #000;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1rem;
}

body.hide {
  overflow: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #676770;
}

ul,
ol,
li {
  list-style-type: none;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.crisper {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #FFF;
  border-bottom: 1px solid #D5D5E0;
}

.header .body-header .crisper .body-nav-desktop {
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .body-header .crisper .body-nav-desktop .nav-logotype {
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69B9FF;
}

.header .body-header .crisper .body-nav-desktop .nav-logotype:hover {
  color: #676770;
}

.header .body-header .crisper .body-nav-desktop .nav-panel-desktop {
  display: none;
}

.header .body-header .crisper .body-nav-desktop .nav-panel-desktop .nav-panel-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .body-header .crisper .body-nav-desktop .nav-panel-desktop .nav-panel-items .nav-panel-item:not(:last-child) {
  margin-right: 40px;
}

.header .body-header .crisper .body-nav-desktop .nav-panel-desktop .nav-panel-items .nav-panel-item .nav-panel-link {
  display: block;
  font-size: 16px;
  line-height: 125%;
  color: #676770;
}

.header .body-header .crisper .body-nav-desktop .nav-panel-desktop .nav-panel-items .nav-panel-item .nav-panel-link:hover {
  color: #0082F3;
}

.header .body-header .crisper .body-nav-desktop .nav-panel-mobile-btn {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.header .body-header .crisper .body-nav-desktop .nav-panel-mobile-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #676770;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header .body-header .crisper .body-nav-desktop .nav-panel-mobile-btn span:nth-of-type(2) {
  top: calc(50% - 8px);
}

.header .body-header .crisper .body-nav-desktop .nav-panel-mobile-btn span:nth-of-type(3) {
  top: calc(50% + 8px);
}

.header .body-header .crisper .body-nav-desktop .nav-panel-mobile-btn.active span:nth-of-type(1) {
  display: none;
}

.header .body-header .crisper .body-nav-desktop .nav-panel-mobile-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.header .body-header .crisper .body-nav-desktop .nav-panel-mobile-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
      -ms-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

.header .body-header .crisper .nav-panel-mobile {
  display: none;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: display 0.5s ease;
  -o-transition: display 0.5s ease;
  transition: display 0.5s ease;
  text-align: center;
}

.header .body-header .crisper .nav-panel-mobile .nav-panel-items .nav-panel-item:hover .nav-panel-link {
  background-color: #0082F3;
  color: #FFF;
}

.header .body-header .crisper .nav-panel-mobile .nav-panel-items .nav-panel-item .nav-panel-link {
  padding: 10px;
  display: block;
}

.header .body-header .crisper .nav-panel-mobile.active {
  display: block;
  -webkit-transition: display 0.5s ease;
  -o-transition: display 0.5s ease;
  transition: display 0.5s ease;
  border-bottom: 1px solid #D5D5E0;
}

/* sm-размер (>=576px) */

/* md-размер (>=768px) */

/* lg-размер (>=992px) */

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #383838;
  color: #9E9E9E;
}

.footer .crisper {
  text-align: center;
  font-size: 15px;
  line-height: 133.3333333333%;
}

/* md-размер (>=768px) */

/* lg-размер (>=992px) */

.no-webp .top-banner{
  background-image: url("../img/top-image.png"); }

.top-banner {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.top-banner .crisper {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-banner .crisper .title {
  margin-bottom: 50px;
  color: #FFF;
  font-size: 18px;
  line-height: 101.6949152542%;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.top-banner .crisper .btn-banner .sing-up-link {
  margin-right: 10px;
  border: 1px solid #69B9FF;
  background-color: #69B9FF;
  color: #FFF;
  font-size: 14px;
  line-height: 131.25%;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 5px 10px;
}

.top-banner .crisper .btn-banner .sing-up-link:hover {
  border: 1px solid #FFF;
  background-color: transparent;
}

.top-banner .crisper .btn-banner .learn-more-link {
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  font-size: 14px;
  line-height: 131.25%;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 5px 10px;
}

.top-banner .crisper .btn-banner .learn-more-link:hover {
  border: 1px solid #69B9FF;
  background-color: #69B9FF;
}

/* sm-размер (>=576px) */

/* md-размер (>=768px) */

/* lg-размер (>=992px) */

/* xl-размер (>=1200px) */

.what-we-do {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.what-we-do .crisper .section-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.what-we-do .crisper .section-title .title {
  margin-bottom: 10px;
  color: #676770;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 2px;
}

.what-we-do .crisper .section-title .subtitle {
  color: #8E8E9C;
  font-size: 14px;
  line-height: 117.6470588235%;
}

.what-we-do .crisper .section-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
}

.what-we-do .crisper .section-description .card {
  text-align: center;
  border: 1px solid #DCEBF7;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.what-we-do .crisper .section-description .card .card-title {
  margin-bottom: 10px;
}

.what-we-do .crisper .section-description .card .card-body .title {
  margin-bottom: 10px;
  color: #676770;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 4px;
}

.what-we-do .crisper .section-description .card .card-body .description {
  color: #6A859C;
}

/* sm-размер (>=576px) */

/* md-размер (>=768px) */

/* lg-размер (>=992px) */

.services {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #192024;
  color: #FFF;
}

.services .crisper .section-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.services .crisper .section-title .title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 2px;
}

.services .crisper .section-title .subtitle {
  font-size: 14px;
  line-height: 117.6470588235%;
}

.services .crisper .section-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
}

.services .crisper .section-description .card {
  text-align: center;
}

.services .crisper .section-description .card .card-title {
  margin-bottom: 10px;
}

.services .crisper .section-description .card .card-title img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.services .crisper .section-description .card .card-body .title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 4px;
}

.services .crisper .section-description .card .card-body .description {
  margin-bottom: 17px;
}

.services .crisper .section-description .card .card-body .btn-learn-more {
  padding: 17px;
}

.services .crisper .section-description .card .card-body .btn-learn-more a {
  padding: 5px 31px;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 131.25%;
  letter-spacing: 2px;
  color: #FFF;
}

.services .crisper .section-description .card .card-body .btn-learn-more a:hover {
  background-color: #69B9FF;
  border: 1px solid #69B9FF;
}

/* sm-размер (>=576px) */

/* md-размер (>=768px) */

/* lg-размер (>=992px) */

.tab-section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.tab-section .crisper .section-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.tab-section .crisper .section-title .title {
  margin-bottom: 10px;
  color: #676770;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 2px;
}

.tab-section .crisper .section-title .subtitle {
  color: #8E8E9C;
  font-size: 14px;
  line-height: 117.6470588235%;
}

.tab-section .crisper .section-description {
  text-align: center;
}

.tab-section .crisper .section-description .tabs-container {
  margin-bottom: 20px;
}

.tab-section .crisper .section-description .tabs-container .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab-section .crisper .section-description .tabs-container .tabs > *:not(:last-child) {
  margin-bottom: 10px;
}

.tab-section .crisper .section-description .tabs-container .tabs .tab {
  cursor: pointer;
  width: 100%;
  background-color: #92A0AD;
  border: 1px solid #92A0AD;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 131.25%;
  letter-spacing: 2px;
}

.tab-section .crisper .section-description .tabs-container .tabs .tab.active {
  background-color: #2E80B6;
  border: 1px solid #2E80B6;
}

.tab-section .crisper .section-description .tabs-content-container .tab-content {
  display: none;
}

.tab-section .crisper .section-description .tabs-content-container .tab-content.active {
  display: block;
}

.tab-section .crisper .section-description .tabs-content-container .tab-content .tab-content-title {
  margin-bottom: 10px;
}

.tab-section .crisper .section-description .tabs-content-container .tab-content .tab-content-title img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.tab-section .crisper .section-description .tabs-content-container .tab-content .tab-content-body .title {
  margin-bottom: 14px;
  font-size: 18px;
  color: #676770;
  line-height: 120%;
}

.tab-section .crisper .section-description .tabs-content-container .tab-content .tab-content-body .description {
  color: #6A859C;
}

/* sm-размер (>=576px) */

/* md-размер (>=768px) */

/* lg-размер (>=992px) */

.pre-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.pre-footer .crisper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  row-gap: 10px;
}

.pre-footer .crisper .card .card-title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 111.1111111111%;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.pre-footer .crisper .card .card-body p {
  color: #6A859C;
}

.pre-footer .crisper .card .card-body .body-link {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-footer .crisper .card .card-body .body-link:hover a {
  font-weight: 700;
}

.pre-footer .crisper .card .card-body .body-link .icon {
  margin-right: 10px;
  padding-top: 1px;
  padding-bottom: 12px;
}

.pre-footer .crisper .card .card-body .body-link .link {
  width: 100%;
  padding-top: 1px;
  padding-bottom: 12px;
  border-bottom: 1px solid #D5D5E0;
}

.pre-footer .crisper .card .card-body .body-link .link a {
  color: #668CAD;
  font-size: 13px;
  line-height: 153.8461538462%;
}

/* sm-размер (>=576px) */

/* md-размер (>=768px) */

/* lg-размер (>=992px) */

.about {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.about .crisper .section-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.about .crisper .section-title .title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 2px;
  color: #676770;
}

.about .crisper .section-title .subtitle {
  font-size: 14px;
  line-height: 117.6470588235%;
  color: #8E8E9C;
}

.about .crisper .section-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  row-gap: 20px;
}

.about .crisper .section-description .card {
  text-align: center;
}

.about .crisper .section-description .card .card-title {
  margin-bottom: 10px;
}

.about .crisper .section-description .card .card-title img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about .crisper .section-description .card .card-body .description {
  margin-bottom: 17px;
  color: #6A859C;
}

.about .crisper .section-description .card .card-body .description .body-row {
  margin-bottom: 10px;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  row-gap: 10px;
}

.about .crisper .section-description .card .card-body .description .body-row .title-column {
  font-size: 16px;
  font-weight: bold;
}

/* sm-размер (>=576px) */

/* md-размер (>=768px) */

/* lg-размер (>=992px) */

.services-detail {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.services-detail .crisper .breadcrums {
  margin-bottom: 20px;
}

.services-detail .crisper .breadcrums .breadcrums-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-detail .crisper .breadcrums .breadcrums-items > *:not(:last-child) {
  margin-right: 10px;
}

.services-detail .crisper .breadcrums .breadcrums-items .breadcrums-item .breadcrums-link {
  color: #69B9FF;
}

.services-detail .crisper .breadcrums .breadcrums-items .breadcrums-item .breadcrums-link:hover {
  color: #676770;
}

.services-detail .crisper .breadcrums .breadcrums-items .breadcrums-item.active {
  color: #8E8E9C;
}

.services-detail .crisper .card .card-title {
  margin-bottom: 10px;
}

.services-detail .crisper .card .card-title img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.services-detail .crisper .card .card-body {
  text-align: center;
}

.services-detail .crisper .card .card-body .title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 5px;
  color: #676770;
}

.services-detail .crisper .card .card-body .description {
  margin-bottom: 17px;
  color: #6A859C;
}

.services-detail .crisper .card .card-body .description .body-row {
  margin-bottom: 10px;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  row-gap: 10px;
}

.services-detail .crisper .card .card-body .description .body-row .title-column {
  font-weight: bold;
}

.services-detail .crisper .card .card-body .btn-order-service a {
  display: inline-block;
  width: 100%;
  padding: 10px 31px;
  border: 1px solid #69B9FF;
  background-color: #69B9FF;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 131.25%;
  letter-spacing: 2px;
  color: #FFF;
}

.services-detail .crisper .card .card-body .btn-order-service a:hover {
  background-color: transparent;
  color: #676770;
  border: 1px solid #676770;
}

/* sm-размер (>=576px) */

/* md-размер (>=768px) */

/* lg-размер (>=992px) */

.modals .crisper .modal {
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  height: auto;
  max-height: 100%;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 30;
  -webkit-box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  border-radius: 4px;
  background-color: #FFF;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.modals .crisper .modal.active {
  opacity: 1;
  visibility: visible;
}

.modals .crisper .modal .modal-title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modals .crisper .modal .modal-title .modal__cross {
  width: 15px;
  height: 15px;
  fill: #676770;
  cursor: pointer;
}

.modals .crisper .modal .modal-title .modal__title {
  color: #69B9FF;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 2px;
}

.modals .crisper .modal .sub-title {
  margin-bottom: 20px;
}

.modals .crisper .modal-1 .modal-body input[type=text],
.modals .crisper .modal-1 .modal-body input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #D5D5E0;
  border-radius: 4px;
}

.modals .crisper .modal-1 .modal-body input[type=text]:focus,
.modals .crisper .modal-1 .modal-body input[type=password]:focus {
  background-color: #DCEBF7;
  outline: none;
}

.modals .crisper .modal-1 .modal-body button {
  background-color: #69B9FF;
  border: 1px solid #69B9FF;
  color: #FFF;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 131.25%;
  letter-spacing: 2px;
}

.modals .crisper .modal-1 .modal-body button:hover {
  opacity: 1;
}

.modals .crisper .modal-1 .modal-body .loginbtn {
  padding: 12px 20px;
  background-color: #04AA6D;
  border: 1px solid #04AA6D;
}

.modals .crisper .modal-1 .modal-body .loginbtn,
.modals .crisper .modal-1 .modal-body .signupbtn {
  float: left;
}

.modals .crisper .modal-1 .modal-body .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.modals .crisper .modal-1 .modal-body .check-remember {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modals .crisper .modal-1 .modal-body .check-remember input {
  margin-right: 10px;
}

.modals .crisper .modal-2 .modal-body label {
  color: #676770;
  font-weight: bold;
}

.modals .crisper .modal-2 .modal-body input[type=text],
.modals .crisper .modal-2 .modal-body select,
.modals .crisper .modal-2 .modal-body textarea {
  width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #D5D5E0;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
  color: #8E8E9C;
}

.modals .crisper .modal-2 .modal-body input[type=text]:focus,
.modals .crisper .modal-2 .modal-body select:focus,
.modals .crisper .modal-2 .modal-body textarea:focus {
  background-color: #DCEBF7;
  outline: none;
}

.modals .crisper .modal-2 .modal-body input[type=submit] {
  width: 100%;
  margin: 0 auto;
  background-color: #04AA6D;
  border: 1px solid #04AA6D;
  color: #FFF;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 131.25%;
  letter-spacing: 2px;
  opacity: 0.9;
}

.modals .crisper .modal-2 .modal-body input[type=submit]:hover {
  opacity: 1;
}

.modals .crisper .overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.modals .crisper .overlay.active {
  opacity: 1;
  visibility: visible;
}

/* sm-размер (>=576px) */

@media (min-width: 576px) {
  /* CSS для ширины от 576px до 767px */

  .header .body-header .crisper .body-nav-desktop .nav-panel-desktop {
    display: none;
  }

  .header .body-header .crisper .nav-panel-mobile .nav-panel-items .nav-panel-item .nav-panel-link {
    padding: 15px 10px;
    display: block;
  }

  /* CSS для ширины от 576px до 767px */

  .top-banner .crisper .title {
    margin-bottom: 70px;
  }

  /* CSS для ширины от 576px до 767px */

  .what-we-do {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .what-we-do .crisper .section-title {
    margin-bottom: 30px;
  }

  .what-we-do .crisper .section-title .title {
    margin-bottom: 15px;
  }

  .what-we-do .crisper .section-title .subtitle {
    letter-spacing: 1px;
  }

  .what-we-do .crisper .section-description {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }

  .what-we-do .crisper .section-description > *:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }

  .what-we-do .crisper .section-description .card {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .what-we-do .crisper .section-description .card .card-title {
    margin-bottom: 14px;
  }

  /* CSS для ширины от 576px до 767px */

  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .services .crisper .section-title {
    margin-bottom: 30px;
  }

  .services .crisper .section-title .title {
    margin-bottom: 15px;
  }

  .services .crisper .section-title .subtitle {
    letter-spacing: 1px;
  }

  .services .crisper .section-description {
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 0;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .services .crisper .section-description .card .card-title {
    margin-bottom: 14px;
  }

  /* CSS для ширины от 576px до 767px */

  .tab-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .tab-section .crisper .section-title {
    margin-bottom: 30px;
  }

  .tab-section .crisper .section-title .title {
    margin-bottom: 15px;
  }

  .tab-section .crisper .section-title .subtitle {
    letter-spacing: 1px;
  }

  .tab-section .crisper .section-description .tabs-container {
    margin-bottom: 30px;
  }

  .tab-section .crisper .section-description .tabs-container .tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .tab-section .crisper .section-description .tabs-container .tabs > *:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 16px;
  }

  /* CSS для ширины от 576px до 767px */

  .pre-footer {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .pre-footer .crisper {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 11px;
       -moz-column-gap: 11px;
            column-gap: 11px;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
  }

  .pre-footer .crisper > *:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }

  .pre-footer .crisper .card .card-title {
    margin-bottom: 15px;
  }

  /* CSS для ширины от 576px до 767px */

  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about .crisper .section-title {
    margin-bottom: 30px;
  }

  .about .crisper .section-title .title {
    margin-bottom: 15px;
  }

  .about .crisper .section-title .subtitle {
    letter-spacing: 1px;
  }

  .about .crisper .section-description {
    gap: 20px;
  }

  /* CSS для ширины от 576px до 767px */

  .services-detail {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .services-detail .crisper .breadcrums {
    margin-bottom: 30px;
  }

  .services-detail .crisper .card .card-title {
    margin-bottom: 15px;
  }

  .services-detail .crisper .card .card-body .btn-order-service a {
    width: auto;
  }

  /* CSS для ширины от 576px до 767px */

  .modals .crisper .modal-1 .modal-body button {
    height: 45px;
  }

  .modals .crisper .modal-1 .modal-body .loginbtn,
  .modals .crisper .modal-1 .modal-body .signupbtn {
    width: 50%;
  }

  .modals .crisper .modal-1 .modal-body .loginbtn {
    border-radius: 4px 0px 0px 4px;
  }

  .modals .crisper .modal-1 .modal-body .signupbtn {
    border-radius: 0px 4px 4px 0px;
  }

  .modals .crisper .modal-1 .modal-body .clearfix-login .loginbtn {
    border-radius: 0px 4px 4px 0px;
  }

  .modals .crisper .modal-1 .modal-body .clearfix-login .signupbtn {
    border-radius: 4px 0px 0px 4px;
  }
}

@media (min-width: 768px) {
  /* CSS для ширины от 768px до 991px */

  .header .body-header .crisper .body-nav-desktop {
    height: 60px;
  }

  .header .body-header .crisper .body-nav-desktop .nav-logotype {
    font-size: 25px;
  }

  .header .body-header .crisper .body-nav-desktop .nav-panel-desktop {
    display: block;
  }

  .header .body-header .crisper .body-nav-desktop .nav-panel-mobile-btn {
    display: none;
  }

  .header .body-header .crisper .nav-panel-mobile {
    display: none;
  }

  .header .body-header .crisper .nav-panel-mobile .nav-panel-items .nav-panel-item .nav-panel-link {
    padding: 15px 10px;
    display: block;
  }

  .header .body-header .crisper .nav-panel-mobile.active {
    display: none;
  }

  /* CSS для ширины от 768px до 991px */

  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* CSS для ширины от 768px до 991px */

  .top-banner {
    height: 400px;
  }

  .top-banner .crisper .title {
    margin-bottom: 90px;
    font-size: 59px;
  }

  .top-banner .crisper .btn-banner .sing-up-link {
    margin-right: 20px;
    font-size: 16px;
    padding: 13px 30px;
  }

  .top-banner .crisper .btn-banner .learn-more-link {
    font-size: 16px;
    padding: 13px 30px;
  }

  /* CSS для ширины от 768px до 991px */

  .what-we-do {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .what-we-do .crisper .section-title {
    margin-bottom: 45px;
  }

  .what-we-do .crisper .section-title .title {
    margin-bottom: 17px;
    font-size: 30px;
    letter-spacing: 5px;
  }

  .what-we-do .crisper .section-title .subtitle {
    font-size: 17px;
    letter-spacing: 3px;
  }

  .what-we-do .crisper .section-description {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .what-we-do .crisper .section-description > *:last-child {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .what-we-do .crisper .section-description .card {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 23px;
    padding-top: 23px;
  }

  .what-we-do .crisper .section-description .card .card-title {
    margin-bottom: 15px;
  }

  .what-we-do .crisper .section-description .card .card-body .title {
    margin-bottom: 14px;
    font-size: 18px;
    letter-spacing: 4px;
  }

  /* CSS для ширины от 768px до 991px */

  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .services .crisper .section-title {
    margin-bottom: 45px;
  }

  .services .crisper .section-title .title {
    margin-bottom: 17px;
    font-size: 30px;
    letter-spacing: 5px;
  }

  .services .crisper .section-title .subtitle {
    font-size: 17px;
    letter-spacing: 3px;
  }

  .services .crisper .section-description .card .card-title {
    margin-bottom: 15px;
  }

  .services .crisper .section-description .card .card-body .title {
    font-size: 18px;
  }

  /* CSS для ширины от 768px до 991px */

  .tab-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .tab-section .crisper .section-title {
    margin-bottom: 45px;
  }

  .tab-section .crisper .section-title .title {
    margin-bottom: 17px;
    font-size: 30px;
    letter-spacing: 5px;
  }

  .tab-section .crisper .section-title .subtitle {
    font-size: 17px;
    letter-spacing: 3px;
  }

  .tab-section .crisper .section-description .tabs-container {
    margin-bottom: 40px;
  }

  .tab-section .crisper .section-description .tabs-container .tabs .tab {
    font-size: 16px;
    padding: 1px 30px;
  }

  .tab-section .crisper .section-description .tabs-content-container .tab-content .tab-content-title {
    margin-bottom: 16px;
  }

  .tab-section .crisper .section-description .tabs-content-container .tab-content .tab-content-body .title {
    font-size: 30px;
  }

  /* CSS для ширины от 768px до 991px */

  .pre-footer .crisper {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 11px;
       -moz-column-gap: 11px;
            column-gap: 11px;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 0;
  }

  .pre-footer .crisper > *:first-child {
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .pre-footer .crisper .card .card-title {
    margin-bottom: 25px;
  }

  /* CSS для ширины от 768px до 991px */

  .about .crisper .section-title .title {
    margin-bottom: 17px;
    font-size: 30px;
    letter-spacing: 5px;
  }

  .about .crisper .section-title .subtitle {
    font-size: 17px;
    letter-spacing: 3px;
  }

  .about .crisper .section-description .card .card-title {
    margin-bottom: 15px;
  }

  .about .crisper .section-description .card .card-title img {
    width: auto;
    height: auto;
  }

  /* CSS для ширины от 768px до 991px */

  .services-detail .crisper .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .services-detail .crisper .card .card-title {
    margin-bottom: 0;
  }

  .services-detail .crisper .card .card-body .title {
    font-size: 30px;
  }

  .services-detail .crisper .card .card-body .btn-order-service a {
    width: 100%;
    padding: 5px 31px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  /* CSS для ширины от 992px до 1199px */

  .header .body-header .crisper .body-nav-desktop {
    padding-right: 0;
    padding-left: 0;
  }

  /* CSS для ширины от 992px до 1199px */

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  /* CSS для ширины от 992px до 1199px */

  .top-banner {
    height: 500px;
  }

  .top-banner .crisper {
    padding-left: 0;
    padding-right: 0;
  }

  .top-banner .crisper .title {
    margin-bottom: 106px;
  }

  /* CSS для ширины от 992px до 1199px */

  .what-we-do {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .what-we-do .crisper .section-title {
    margin-bottom: 62px;
  }

  .what-we-do .crisper .section-description .card {
    padding-top: 36px;
  }

  .what-we-do .crisper .section-description .card .card-title {
    margin-bottom: 19px;
  }

  .what-we-do .crisper .section-description .card .card-body .title {
    font-size: 20px;
    letter-spacing: 7px;
  }

  /* CSS для ширины от 992px до 1199px */

  .services {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .services .crisper .section-title {
    margin-bottom: 60px;
  }

  .services .crisper .section-description .card .card-title {
    margin-bottom: 20px;
  }

  .services .crisper .section-description .card .card-body .title {
    margin-bottom: 23px;
    font-size: 20px;
    letter-spacing: 7px;
  }

  .services .crisper .section-description .card .card-body .btn-learn-more a {
    padding: 12px 31px;
    font-size: 16px;
  }

  /* CSS для ширины от 992px до 1199px */

  .tab-section {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .tab-section .crisper .section-title {
    margin-bottom: 60px;
  }

  /* CSS для ширины от 992px до 1199px */

  .pre-footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* CSS для ширины от 992px до 1199px */

  .about {
    padding-left: 0;
    padding-right: 0;
  }

  .about .crisper .section-description .card .card-title {
    margin-bottom: 20px;
  }

  /* CSS для ширины от 992px до 1199px */

  .services-detail {
    padding-left: 0;
    padding-right: 0;
  }

  .services-detail .crisper .card .card-body .btn-order-service a {
    width: auto;
  }
}

@media (min-width: 1200px) {
  /* CSS для ширины от 1200px до 1399px */

  .top-banner {
    height: 594px;
  }
}

.webp .top-banner{ background-image: url(../img/top-image.webp); }